<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nihongo_mobile">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Nihongomobile">
        <activity
            android:name=".budaya_jepang"
            android:exported="false" />
        <activity
            android:name=".splash_katakana"
            android:exported="true" />
        <activity
            android:name=".halaman_soal"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".halaman_audio"
            android:exported="false" />
        <activity
            android:name=".katakana"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".hiragana"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".menu"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>